/* Product Details */

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;

  .left-icon,
  .right-icon {
    display: none;
  }

  .images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .main-image {
      border-radius: 1rem;
      margin: 0 auto;
      width: 400px;
      height: auto;
      cursor: pointer;
    }
  }

  .product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      margin: 1rem 0 3rem 0;
      width: 80%;
    }

    .company-name {
      text-transform: uppercase;
      color: $orange;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    .description-text {
      margin-bottom: 2rem;
      color: $dark-grayish-blue;
      font-size: 1.4rem;
      width: 80%;
    }

    .current-price {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .discount-badge {
      background-color: $pale-orange;
      color: orange;
      font-size: 1.4rem;
      font-weight: bold;
      display: inline-block;
      margin-left: 1.5rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
    }

    .old-price {
      text-decoration: line-through;
      color: $grayish-blue;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .buttons-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    .change-item-count {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0;
      background-color: $light-grayish-blue;
      border-radius: 1rem;
      overflow: hidden;
      width: 30%;
      margin-right: 1.2rem;
    }

    .btn-plus,
    .btn-minus {
      background-color: inherit;
      padding: 1rem;
      outline: none;
      border: none;
      color: $orange;
      font-weight: bold;
      font-size: 2.5rem;
      cursor: pointer;

      &:hover,
      &:focus {
        opacity: 0.75;
      }
    }

    .item-count {
      color: $dark-blue;
      font-weight: bold;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .add-to-cart {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 0;
      outline: 0;
      background-color: $orange;
      color: $white;
      padding: 1rem 6rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1.4rem;
      box-shadow: 0 30px 20px -5px $pale-orange;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.75;
      }

      .cart-icon {
        color: $white;
        transform: scale(0.7);
        margin-right: 1rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    gap: 3rem;

    .images-container {
      align-items: center;
      justify-content: space-around;
      .main-image {
        width: 300px;
      }
    }

    .product-description {
      .description-text,
      h1 {
        width: 90%;
      }
      .buttons-container {
        flex-direction: column;
        align-items: flex-start;
      }

      .change-item-count {
        width: 80%;
        margin-bottom: 2rem;
        margin-right: 0;
      }

      .add-to-cart {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;

    .images-container {
      .main-image {
        width: 380px;
        cursor: auto;
        pointer-events: none;
      }
    }

    .right-icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: $pale-orange;
      border-radius: 50%;
      top: 40%;
      right: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      cursor: pointer;
    }

    .left-icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: $pale-orange;
      border-radius: 50%;
      top: 40%;
      left: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      cursor: pointer;
    }

    .product-description {
      .description-text,
      h1 {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;

    .images-container {
      .main-image {
        width: 320px;
      }
    }

    .left-icon {
      left: 3rem;
      top: 35%;
    }
    .right-icon {
      right: 3rem;
      top: 35%;
    }

    .product-description {
      .change-item-count {
        width: 90%;
        margin-bottom: 2rem;
        margin-right: 0;
      }

      .add-to-cart {
        width: 90%;
      }
    }
  }

  @media screen and (max-width: 377px) {
    grid-template-columns: 1fr;
    gap: 0;

    .right-icon {
      background-color: $white;
      top: 22rem;
      right: 2rem;
      transform: scale(0.8);

      .icon {
        transform: scale(0.7);
      }
    }

    .left-icon {
      background-color: $white;
      top: 22rem;
      left: 2rem;
      transform: scale(0.8);

      .icon {
        transform: scale(0.7);
      }
    }

    .images-container {
      max-height: 350px;
      overflow: hidden;

      .main-image {
        width: 100%;
        height: auto;
        border-radius: 0;
        position: relative;
      }
    }

    .product-description {
      padding: 2rem;

      h1 {
        margin-bottom: 2rem;
        width: 100%;
      }

      .description-text {
        font-size: 1.5rem;
        width: 100%;
      }

      .old-price {
        display: inline-block;
        margin: 0;
      }

      .price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
      }

      .buttons-container {
        flex-direction: column;
        width: 100%;
      }

      .add-to-cart {
        width: 100%;
      }

      .change-item-count {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}
