/* Image Thumbnails */

.thumbnails-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  span {
    background-color: $white;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.5;
    }
  }

  .current {
    outline: 2px solid $orange;
    img {
      opacity: 0.4;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 300px;

    img {
      width: 70px;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
