/* Colors */

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-black: hsl(0, 0%, 0%, 75%);

/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $orange;
	font-size: 1.6rem;
	padding: 0 15rem;
}

/* Navbar */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 4rem 0;
	border-bottom: 1px solid $grayish-blue;
	color: $dark-grayish-blue;

	.links-left {
		ul {
			list-style: none;
			display: inline-flex;
		}

		li {
			margin: 0 3rem;
			cursor: pointer;
			position: relative;

			&:hover::after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -5.3rem;
				border-bottom: 5px solid $orange;
			}
			&:hover {
				color: $dark-blue;
			}
		}

		img {
			display: inline-block;
			margin-right: 6rem;
			cursor: pointer;
		}
	}

	.links-right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 12rem;

		img {
			display: inline-block;
			cursor: pointer;
		}

		img:hover {
			fill: red;
		}

		img.avatar {
			&:hover {
				border: 2px solid $orange;
				border-radius: 50%;
			}
		}
	}
}
