@import "./styles/config";
@import "./styles/navbar";
@import "./styles/cart";
@import "./styles/productDetails";
@import "./styles/thumbnails";
@import "./styles/modal";
@import "./styles/mobile";

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-blue;
  font-size: 1.6rem;
  padding: 0 15rem;

  @media screen and (max-width: 1280px) {
    padding: 0 6rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 377px) {
    padding: 0;
  }
}
